<p-toast />
<p-confirmdialog />
<div class="board">
  <div class="board_box">
    <div class="title-of-code">
      <div class="nice_text">Current version</div>
    </div>
    <div #curretVersionEdditor class="board_1"></div>
  </div>
  <div class="board_box">
    <div class="title-of-code">
      <div class="nice_text">New version</div>
    </div>
    <div #newVersionEdditor class="board_1"></div>
  </div>
  <div class="board_box">
    <div class="title-of-code">
      <div class="nice_text">Difference</div>
    </div>
    <div #diffCodeEditor class="board_1"></div>
  </div>
  <div class="board_box">
    <div class="title-of-code">
      <div class="diff-box-buttons-good">
        <p-button
          label="Save"
          (onClick)="conformForSave($event)"
          [size]="'small'"
          [icon]="'pi pi-save'"
          [severity]="'secondary'"
        ></p-button>
        <p-button
          pTooltip="Open in file path"
          showDelay="500"
          hideDelay="200"
          [size]="'small'"
          [icon]="'pi pi-file'"
          [severity]="'secondary'"
        ></p-button>
      </div>
      <p-button
        label="Delete"
        (onClick)="confirmForClear($event)"
        [size]="'small'"
        [icon]="'pi pi-trash'"
        [severity]="'warn'"
      ></p-button>
    </div>
    <p-scrollpanel class="list-of-diffs">
      @for (diffFiles of appData.diffs; track $index) {
      <div class="diff-box">
        <div class="diff-box-text">{{ diffFiles.name }}</div>
        <div class="diff-box-buttons">
          <p-button
            showDelay="500"
            hideDelay="200"
            pTooltip="Copy to cliboard"
            tooltipPosition="left"
            [size]="'small'"
            [icon]="'pi pi-clipboard'"
            [severity]="'info'"
          ></p-button>
        </div>
      </div>
      }
    </p-scrollpanel>
  </div>
</div>
